<aside class="call-to-action bg-primary">
	<div class="container">
		<center><h2>About Me</h2></center>
		<div class="row">
			<center><a type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#linuxBackground">Linux Background</a>
			<a type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#programmingBackground">Programming Background</a>
			<a type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#contactMe">Contact Me</a></center>
		</div>
	</div>
	</aside>
	<!-- /.row -->
	<!-- Modal -->
	<div class="modal fade" id="linuxBackground" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<center><h3 class="modal-title" id="myModalLabel2">My Linux Background</h3></center>
				</div>
				<div class="modal-body">
					<h4>Blurb about my linux background.</h4>
				</div>
				<div class="modal-footer">
					<center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
	<!-- /.row -->
	<!-- Modal -->
	<div class="modal fade" id="programmingBackground" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<center><h3 class="modal-title" id="myModalLabel2">My Programming Background</h3></center>
				</div>
				<div class="modal-body">
					<h4>Blurb about my programming background.</h4>
				</div>
				<div class="modal-footer">
					<center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
	<!-- /.row -->
	<!-- Modal -->
	<div class="modal fade" id="contactMe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<center><h3 class="modal-title" id="myModalLabel2">Contact Me</h3></center>
				</div>
				<div class="modal-body">
					<h4>Contact Info</h4>
				</div>
				<div class="modal-footer">
					<center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
