<aside class="call-to-action bg-primary">
	<div class="container" id="aboutme">
		<center><h2>About Me</h2></center>
		<div class="row">
			<center><a type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#linuxBackground">Linux Background</a>
			<a type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#programmingBackground">Programming Background</a>
			<a type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#contactMe">Contact Me</a></center>
		</div>
	</div>
	</aside>
	<!-- /.row -->
	<!-- Modal -->
	<div class="modal fade" id="linuxBackground" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<center><h3 class="modal-title" id="myModalLabel2">My Linux Background</h3></center>
				</div>
				<div class="modal-body">
					<h4 class="text-justify" style="padding-right: 50px; padding-left: 50px">I have been a Linux user for the past 10 years.  During this time I have worked on a variety of Linux related projects.  I have installed Linux servers, Linux desktops, and Linux embedded devices.
					<br><br>The distributions I have used include, but are not limited to: Debian, Ubuntu, Linux Mint, Fedora, and Arch.  For some of these distributions I have also used them in their server version to host web servers, run media servers, and more.
					<br><br>During this time I have become (what some would call) a Linux power user.  I have learned much about how Linux works, how to configure system level files, and how to diagnose and repair broken configurations.</h4>
				</div>
				<div class="modal-footer">
					<center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
	<!-- /.row -->
	<!-- Modal -->
	<div class="modal fade" id="programmingBackground" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<center><h3 class="modal-title" id="myModalLabel2">My Programming Background</h3></center>
				</div>
				<div class="modal-body">
					<h4 class="text-justify" style="padding-right: 50px; padding-left: 50px">As I started using Linux I learned the importance of programming.  I have since then learned how to program in both Bash and Python.  These are both very useful languages for Linux.
					<br><br>Bash is very useful for scripting and automation.  Turning somewhat tedious tasks into something that can be run with a single command or even run automatically.
					<br><br>Python is more powerful with more features than bash.  It can also help quite a bit with tasks in Linux.</h4>
				</div>
				<div class="modal-footer">
					<center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
	<!-- /.row -->
	<!-- Modal -->
	<div class="modal fade" id="contactMe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<center><h3 class="modal-title" id="myModalLabel2">Contact Me</h3></center>
				</div>
				<div class="modal-body">
					<h4 class="text-center" style="padding-right: 50px; padding-left: 50px">Email me: <i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:cochiselinuxguy@gmail.com">cochiselinuxguy</a>
					<br><br>
					Follow me on <a href="https://twitter.com/paul_ber">Twitter</a>
					<br><br>
					Follow or message me on <a href="https://plus.google.com/b/109166435917308227522/109166435917308227522/about/p/pub?hl=en">Google+</a></h4>
				</div>
				<div class="modal-footer">
					<center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
