<header id="top" class="header">
  <div style="background-color:Grey;width:200px;border:1px solid black;padding:15px;" class="text-vertical-center">
    <h1>More about Linux.</h1>
    <h3>Linux is is developed with a different mindset than Windows.<br><br>
    Windows has a pay to use model while Linux is free and open source. <br><br>
    This inspires bright individuals to come together and work on projects <br>
    together; sharing their code, their minds, and their time.</h3>
    <h2>Why Choose Linux?</h2>
    <h3>Well the first (and most obvious choice) is the fact Linux is free.</h3>
   
    <br>
  </div>
</header>
