<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Services</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
				<p data-toggle="modal" href="#installLinux">
					<img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
				</p>
				<h3><p data-toggle="modal" href="#installLinux">Install Linux</p></h3>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <p data-toggle="modal" href="#networking">
                <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
              </p>
              <h3><p data-toggle="modal" href="#networking">Linux Networking</p></h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
				<p data-toggle="modal" href="#support">
					<img class="img-portfolio img-responsive" src="img/portfolio-3.jpg" alt="Linux Support">
				</p>
				<h3><p data-toggle="modal" href="#support">
					Linux Support
				</p></h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <p data-toggle="modal" href="#more">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
              </p>
              <h3><p data-toggle="modal" href="#more">Much More</p></h3>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
    	<!-- Modal -->
		<div class="modal fade" id="installLinux" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<center><h3 class="modal-title" id="installLinux">Install Linux</h3></center>
					</div>
					<div class="modal-body">
						<h4 class="text-justify" style="padding-right: 50px; padding-left: 50px">Installing Linux can be a little intimidating.  That is where I come in.  I make the installation and configuration of Linux easy for you.<br><br>
						I can sit down with you, discuss what you want from Linux and choose the right Linux for you.  Taking it one step further I can go over alternative software, configure any software
						you would like me to and get you off and running with your new Linux install.</h4>
					</div>
					<div class="modal-footer">
						<center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
					</div>
				</div>
			</div>
		</div>
	    <!-- /.row -->
	    <!-- /.row -->
    	<!-- Modal -->
		<div class="modal fade" id="networking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<center><h3 class="modal-title" id="myModalLabel2">Linux Networking</h3></center>
					</div>
					<div class="modal-body">
						<h4 class="text-justify" style="padding-right: 50px; padding-left: 50px">These days, getting Linux working on your current network is fairly simple.  You may, however, come across snags when bringing your new Linux install into your existing network.<br>
						<br>I can help configure anything from network printing to local run servers.  The sky is the limit!</h4>
					</div>
					<div class="modal-footer">
						<center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
					</div>
				</div>
			</div>
		</div>
	    <!-- /.row -->
	    	    <!-- /.row -->
    	<!-- Modal -->
		<div class="modal fade" id="support" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<center><h3 class="modal-title" id="myModalLabel2">Linux Support</h3></center>
					</div>
					<div class="modal-body" class="justify-text">
						<h4 class="text-justify" style="padding-right: 50px; padding-left: 50px">Installing Linux is only the beginning of your adventure, you will come across issues from time to time.  I can help you through any issues you may have with your install.  Weather
						 you need one-on-one support or wish to get support from our local Linux user group, I am here to help.</h4>
					</div>
					<div class="modal-footer">
						<center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
					</div>
				</div>
			</div>
		</div>
	    <!-- /.row -->
	    	    <!-- /.row -->
    	<!-- Modal -->
		<div class="modal fade" id="more" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<center><h3 class="modal-title" id="myModalLabel2">More Services</h3></center>
					</div>
					<div class="modal-body">
						<h4 class="text-justify" style="padding-right: 50px; padding-left: 50px">Other areas I can provide assistance are:<br><br>
						Software Education
						<br>Learn to use software like office suites, web browsers, image editors, and so on.<br>
						<br>Embedded Linux
						<br>Learn to install Linux on imbedded devices such as raspberry pi.<br>
						<br>Home Servers
						<br>Learn to stream movies and music over your network.  Set up a Minecraft server for your friends and family.  Even create a storage server.</h4>
					</div>
					<div class="modal-footer">
						<center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
					</div>
				</div>
			</div>
		</div>
	    <!-- /.row -->
	  </div>
  </div>
  <!-- /.container -->
</section>
