<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Services</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
				<p data-toggle="modal" href="#installLinux">
					<img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
				</p>
				<h3><p data-toggle="modal" href="#installLinux">Install Linux</p></h3>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <p data-toggle="modal" href="#myModal2">
                <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
              </p>
              <h3><p data-toggle="modal" href="#myModal2">Linux Networking</p></h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
				<p data-toggle="modal" href="#myModal2">
					<img class="img-portfolio img-responsive" src="img/portfolio-3.jpg" alt="Linux Support">
				</p>
				<h3><p data-toggle="modal" href="#myModal2">
					Linux Support
				</p></h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <p data-toggle="modal" href="#myModal2">
                <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
              </p>
              <h3><p data-toggle="modal" href="#myModal2">Much More</p></h3>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
    	<!-- Modal -->
		<div class="modal fade" id="installLinux" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<center><h3 class="modal-title" id="installLinux">Install Linux</h3></center>
					</div>
					<div class="modal-body">
						<h4>Installing Linux can be a little intimidating.  That is where I come in.  I make the installation and configuration of Linux easy for you.<br><br>
						I can sit down with you, discuss what you want from Linux and choose the right Linux for you.  Taking it one step further I can go over alternative software, configure any software
						you would like me to and get you off and running with your new Linux install.</h4>
					</div>
					<div class="modal-footer">
						<center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
					</div>
				</div>
			</div>
		</div>
	    <!-- /.row -->
	    <!-- /.row -->
    	<!-- Modal -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
			<div class="modal-dialog-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<center><h3 class="modal-title" id="myModalLabel2">More about Linux</h3></center>
					</div>
					<div class="modal-body">
						<h4>This is not the same</h4>
					</div>
					<div class="modal-footer">
						<center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
					</div>
				</div>
			</div>
		</div>
	    <!-- /.row -->
	  </div>
  </div>
  <!-- /.container -->
</section>
